.btn, .btn-primary {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: 3px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

.btn-secondary {
    background-color: #008CBA;
}

.btn:hover {
    border: 3px solid #555;
}