.fullpage-container {
	background-color: var(--cor-claro);
	display: grid;
	grid-template-areas:
		"topbar topbar"
		"nav content "
		"footer footer";
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	height: 100vh;
}

.footer {
	grid-area: footer;
	background-color: var(--cor-escuro);
	border-top: 5px solid var(--cor-primaria);
	color: var(--cor-claro);
	text-align: center;
	padding: 10px;
	font-size: 12px;
}

.site-title {
	margin-left: 100px;
}

.top-bar-user-div {
	margin-left: auto;
	margin-right: 20px;
	align-self: center;
}

.user-image {
	width: 64px;
	height: 64px;
	border-radius: 50%;
}

.top-bar {
	grid-area: topbar;
	background-color: var(--cor-primaria);
	color: var(--cor-escuro);
	padding: 10px;
	border-bottom: 5px solid var(--cor-secundaria);
}

.website-logo {
	width: 200px;
}

.top-bar-content {
	display: flex;
}

.navbar {
	grid-area: nav;
}