body {
    background-image: url('https://www.uma.pt/wp-content/themes/uma/images/images_banner_home/Professor-3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
    background-color: #fff;
    padding: 90px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-container img {
    width: 60%;
    margin-bottom: 20px;
}

.recover-password {
    align-self: flex-end;
}
