body {
    display: flex;
    background-image: url('https://www.uma.pt/wp-content/themes/uma/images/images_banner_home/Professor-3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--cor-claro);
    padding: 90px;
    padding-bottom: 50px;
    padding-top: 50px;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-container img {
    width: 60%;
    margin-bottom: 20px;
}

.recover-password {
    color: var(--cor-escuro);
}

.login-btn {
    margin-top: 10px;
    width: 100%;
}

.alert-password {
    display: block;
}

.bottom-section {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
}

.login-container label {
    align-self: flex-start;
    font-weight: bold;
    color: var(--cor-escuro);
}

@media only screen and (max-width: 480px) {
    .login-container {
        padding: 25px;
    }
}