.content {
	grid-area: content;
	display: grid;
	grid-template-areas:
		"tb1 tb2"
		"cb cb"
		"bb bb";
	padding: 20px;
	gap: 10px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto auto auto;
}

.bottom-box {
	grid-area: bb;
	overflow-y: auto;
	max-height: 250px;
}

.center-box {
	grid-area: cb;
	overflow-x: auto;
}

.top-box1 {
	grid-area: tb1;
}

.top-box2 {
	grid-area: tb2;
	overflow-y: auto;
	max-height: 250px;
}

.content h6 {
	margin: 0;
	margin-bottom: 10px;
}

/* LOADER SCREEN STYLES */

.loader-screen {
	position: fixed;
	inset: 0;
	background: var(--cor-secundaria);
	display: flex;
	justify-content: center;
	align-items: center;
	animation: fadeOut 2s forwards;
	animation-delay: 3s; /* Tempo de load */
	z-index: 9999;
}

/* Esconder loader depois do fadeout */

@keyframes fadeOut {
	to {
		opacity: 0;
		visibility: hidden;
	}
}

/* Página começa escondida */

.fullpage-container {
	opacity: 0;
	animation: showContent 0.5s forwards;
	animation-delay: 5s; /* Mesmo tempo da duração do loader + fade */
}

@keyframes showContent {
	to { opacity: 1; }
}

.fake-link {
	color: var(--cor-informacao);
	cursor: pointer;
}

.fake-link:hover {
	text-decoration: underline;
}

@media (max-width: 768px) {
    .content {
        display: grid;
        grid-template-areas:
            "tb1"
            "tb2"
            "cb"
            "bb";
        grid-template-columns: 1fr
    }
}

