body {
  background-color: var(--cor-claro);
  display: grid;
  grid-template-areas:
    "topbar topbar"
    "nav content "
    "footer footer";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.footer {
  grid-area: footer;
  background-color: var(--cor-escuro);
  border-top: 5px solid var(--cor-primaria);
  color: var(--cor-claro);
  text-align: center;
  padding: 10px;
  font-size: 12px;
}

.site-title {
  margin-left: 100px;
}

.top-bar {
  grid-area: topbar;
  background-color: var(--cor-primaria);
  color: var(--cor-escuro);
  padding: 10px;
  border-bottom: 5px solid var(--cor-secundaria);
}

.login-logo {
  width: 200px;
}

.top-bar-content {
  display: flex;
}

.navbar {
  grid-area: nav;
}

.content {
  grid-area: content;
  display: grid;
  grid-template-areas:
    "b1 b2"
    "b3 b4";
  padding: 20px;
}
.content-box1 {
  grid-area: b1;
  background-color: var(--cor-escuro);
  color: var(--cor-claro);
  padding: 20px;
  margin-bottom: 10px;
}

.content-box2 {
  grid-area: b2;
  background-color: var(--cor-primaria);
  color: var(--cor-claro);
  padding: 20px;
  margin-bottom: 10px;
}

.content-box3 {
  grid-area: b3;
  background-color: var(--cor-secundaria);
  color: var(--cor-escuro);
  padding: 20px;
  margin-bottom: 10px;
}

.content-box4 {
  grid-area: b4;
  background-color: var(--cor-aviso);
  color: var(--cor-escuro);
  padding: 20px;
  margin-bottom: 10px;
}