body {
  background-color: var(--cor-claro);
}

/* .top-bar {
  grid-area: topbar;
  background-color: var(--cor-escuro);
  color: var(--cor-claro);
  padding: 10px;
}

.navbar {
  grid-area: nav;
}

.content {
  grid-area: content;
  padding: 20px;
  width: 100%;
} */