.content {
	grid-area: content;
	display: grid;
	grid-template-areas:
        "b1"
		"b2";
	padding: 20px;
	gap: 10px;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: auto auto auto;
}

.content-box1, .content-box2 {
	background-color: var(--cor-claro);
	color: var(--cor-escuro);
	padding: 20px;
	box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
	border-radius: 8px;
}

.content-box2 {
	grid-area: b2;
}

.content-box1 h6, .content-box2 h6 {
    margin-top: 0;
}

.table {
	margin: 0;
}

/* hide all bodies */
.table tbody {
    display: none;
}

/* open only the checked one */
input[type="radio"]:checked + table tbody {
    display: table-row-group;
}

/* clickable */
.table-button {
    cursor: pointer;
}

.table-button::before {
    content: "[+]";
    font-weight: bold;
    cursor: pointer;
}

input[type="radio"]:checked + table thead .table-button::before {
    content: "[-]";
}