.content {
	grid-area: content;
	display: grid;
	grid-template-areas:
        "b1 b1"
        "b2 b3";
	padding: 20px;
	gap: 10px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto auto auto;
}

.content-box1 h6, .content-box2 h6, .content-box3 h6 {
	margin-top: 0;
}
.content-box1 {
	grid-area: b1;
}

.content-box2 {
	display: flex;
	gap: 15px;
	grid-area: b2;
}

.content-box3 {
	display: flex;
	position: relative;
	gap: 15px;
	grid-area: b3;
}

.cor-erro {
	color: var(--cor-perigo);
}

.bold-text {
	font-weight: bolder;
}

.cb1-top-bar {
	display: flex;
	gap: 30px;
	margin-bottom: 15px;
}

:root:has(#paymentCheck:checked) {
	.btn-payment {
		visibility: visible;
	}
}

.btn-payment {
	visibility: hidden;
	position: absolute;
	right: 30px;
	top: 5px;
}

@media (max-width: 768px) {
    .content {
        display: grid;
        grid-template-areas:
            "b1"
            "b2"
            "b3";
        grid-template-columns: 1fr
    }
}