.content {
	grid-area: content;
	display: grid;
	grid-template-areas:
        "b1 b1"
        "b2 b3";
	padding: 20px;
	gap: 10px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto auto auto;
}

.content-box1, .content-box2, .content-box3 {
	background-color: var(--cor-claro);
	color: var(--cor-escuro);
	padding: 20px;
	box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
	border-radius: 8px;
}

.content-box1 h6, .content-box2 h6{
	margin-top: 0;
}
.content-box1 {
	grid-area: b1;
}

.content-box2 {
	grid-area: b2;
}

.content-box3 {
	grid-area: b3;
}

.cor-erro {
	color: var(--cor-perigo);
}

.bold-text {
	font-weight: bolder;
}