.content {
	grid-area: content;
	display: grid;
	grid-template-areas:
        "b1";
	padding: 20px;
	gap: 10px;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: auto auto auto;
}

.content-box1 {
	grid-area: b1;
	background-color: var(--cor-claro);
	color: var(--cor-escuro);
	padding: 20px;
	box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
	border-radius: 8px;
}

.content-box1 h6 {
	margin-top: 0;
}

.filter-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-select {
    width: auto;
    min-width: 50px;
}

.section {
    justify-content: space-around;
    display: flex;
    gap: 16px;
    margin-bottom: 30px;
}

.section > div {
    min-width: 40%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.section p, .section h6 {
    margin: 5px
}

.section button {
    margin-top: 10px;
}