.content {
	grid-area: content;
	display: grid;
	grid-template-areas:
        "b1 b2";
	padding: 20px;
	gap: 10px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto auto auto;
}

.content-box1, .content-box2 {
	background-color: var(--cor-claro);
	color: var(--cor-escuro);
	padding: 20px;
	box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
	border-radius: 8px;
}

.content-box1 {
	grid-area: b1;
}

.content-box2 {
	grid-area: b2;
}