.content {
	grid-area: content;
	display: grid;
	grid-template-areas:
        "b1"
        "b2";
	padding: 20px;
	gap: 10px;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: auto auto auto;
}

.content-box1 {
    position: relative;
    grid-area: b1;
}

.content-box2 {
    grid-area: b2;
}

.content-box1 h6 {
    margin-top: 0;
}

.buttons-div {
    position: absolute;
    display: flex;
    gap: 20px;
    bottom: 20px;
    right: 20px;
}

.form-box {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.interior-box {
    width: 45%;
}