.content {
	grid-area: content;
	display: grid;
	grid-template-areas:
        "b1"
        "b2"
        "b3";
	padding: 20px;
	gap: 10px;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: auto auto auto;
}

.content-box1 {
    grid-area: b1;
}

.content-box2 {
    grid-area: b2;
}

.content-box3 {
    grid-area: b3;
}

.content-box1 h6, .content-box2 h6, .content-box3 h6 {
    margin-top: 0;
}

.search-div > .form-select {
    width: 80%;
}

.search-div > .btn {
    margin-left: 30px;
}