.content {
	grid-area: content;
	display: grid;
	grid-template-areas:
        "b1";
	padding: 20px;
	gap: 10px;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: auto auto auto;
}

.content-box1 {
    grid-area: b1;
}

.content-box1 h6 {
    margin-top: 0;
}

td {
    text-align: center;
    width: 50rem;
}

.color_cyan {
    background-color: light-dark(cyan, rgb(0, 110, 110));
}

.color_purple {
    background-color: light-dark(purple, rgb(77, 0, 77));
}

.color_yellow {
    background-color: light-dark(yellow, rgb(90, 90, 0));
}

.color_blue {
    background-color: light-dark(blue, rgb(0, 0, 88));
}

.color_red {
    background-color: light-dark(red, rgb(75, 0, 0));
}