.content {
	grid-area: content;
	display: grid;
	grid-template-areas:
        "b1"
        "b2";
	padding: 20px;
	gap: 10px;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: auto auto auto;
}

.content-box1 {
    grid-area: b1;
}

.content-box2 {
    grid-area: b2;
}

.content-box1 h6 {
	margin-top: 0;
}

.filter-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.content-box2 .form-select {
    width: auto;
    min-width: 200px;
}

.section {
    justify-content: space-around;
    display: flex;
    gap: 16px;
    margin-bottom: 30px;
}

.section > div {
    min-width: 40%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.section p, .section h6 {
    margin: 5px
}

.section button {
    margin-top: 10px;
}

.color-danger {
    color: var(--cor-perigo);
}